*{margin: 0; padding: 0; box-sizing: border-box;}
.header{
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin: 0 auto;
  display: flex;
  gap:10px;
  align-items: center;
}
.title{
  font-weight: 700;
  font-size: 24px;
}
body{
  padding: 1rem;
  height: 100vh;
}
h3{
  font-weight: 700;
  font-size: 24px;
}
.calendar{
  margin: auto;
  width: 100%;
}
.calendar header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 25px 10px 40px 0; */
  margin: 0 auto;
  width: 90%;
  padding-top: 26px;
}
.calendar ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.days li{
  width: calc(100%/7);
  margin: 25px 0;
  position: relative;
  z-index: 2;
}
.dates li {
  width: calc(100%/7);
  height: 200px;
  position: relative;
  z-index: 2;
  border: 1px solid black;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  padding-left: 3px;
}
.holiday{
  color: red;
}
#prev,#next{
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
#prev::before,#next::before{
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #000;
}
#next::before{
  transform: translate(-50%,-50%) rotate(45deg);
}
#prev::before{
  transform: translate(-50%,-50%) rotate(-135deg);
}
.days{
  font-weight: 700;
}
/* .dates li.today{
  color: #fff;
}
.dates li.today::before{
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
} */
.dates li.inactive{
  color: #fff;
  pointer-events: none;
}

/* 선택 날짜 */
.selected {
  color: #377AFF;
}
.selected::before{
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top:60%;
  left:51%;
  transform: translate(-50%,-50%);
  background: #E0EFFF;
  border-radius: 50%;
  z-index: -1;
}


