
.react-calendar .dot {
  width: 8px;
  height: 8px;
  background-color: red; /* 동그라미 색상 설정 */
  border-radius: 50%; /* 동그라미 형태 */
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}